.page-container {
  padding: 50px;
}

.title {
  text-align: center;
}

.calendar-container {

  .calendar-header {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .calendar-dates-gap {
      width: 92px;
    }

    .calendar-dates-container {
      flex-grow: 1;
      display: flex;
      flex-direction: row;

      .calendar-dates {
        flex: 1 1;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        text-align: center;
      }
    }
  }

  .calendar-body {
    display: flex;
    flex-direction: row;

    .time-slot-labels-container {
      width: 92px;

      .time-slots {
        text-align: right;
        padding-right: 8px;
        position: relative;

        .slots-label {
          position: relative;
          top: -10px;
        }
      }
    }

    .time-grid-container {
      flex: 1 1;
    }

    .time-grid {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      position: relative;

      .time-slots-line-container {

        .time-slots-line {

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            border-bottom: 1px solid grey;
          }
        }
      }

      .grid-date {
        flex: 1 1;
        border-right: 1px solid grey;
      }
    }
  }
}
